<p-toolbar>
    <div class="ui-toolbar-group-left">
        <h1>Curriculum Vitae</h1>
    </div>
</p-toolbar>

<div class="p-grid">
    <div class="p-col-12 p-lg-4">
        <p-panel header="Contact">

            <ul>
                <li><i class="pi pi-user"></i>Sébastien Lehmstedt</li>
                <li><i class="pi pi-user-plus"></i>+33 649238250</li>
                <li><i class="pi pi-pencil"></i>lehmstedt@et.esiea.fr</li>
            </ul>

        </p-panel>
    </div>
    <div class="p-col-12 p-lg-8">
        <p-panel header="Projects">

            <div class="p-grid">
                <div class="p-col-12 p-lg-4">
                    <p-card title="SQS" subtitle="SII">
                        <p-header>
                            <img src="assets/sii.png">
                        </p-header>
                        <p-button icon="pi pi-external-link" label="Spring"></p-button>
                        <p-button icon="pi pi-external-link" label="AngularJS"></p-button>
                        <p-button icon="pi pi-external-link" label="Jenkins"></p-button>
                        <p-button icon="pi pi-external-link" label="Junit"></p-button>

                    </p-card>
                </div>
                <div class="p-col-12 p-lg-4">
                    <p-card title="ROSE" subtitle="SII">
                        <p-header>
                            <img src="assets/sii.png">
                        </p-header>
                        <p-button icon="pi pi-external-link" label="JavaEE"></p-button>
                        <p-button icon="pi pi-external-link" label="SoapUI"></p-button>
                        <p-button icon="pi pi-external-link" label="Jenkins"></p-button>
                    </p-card>

                </div>
                <div class="p-col-12 p-lg-4">
                    <p-card title="Road infrastructure modelization tool" subtitle="Dassault Systèmes">
                        <p-header>
                            <img src="assets/ds.png">
                        </p-header>
                        <p-button icon="pi pi-external-link" label="C++"></p-button>
                        <p-button icon="pi pi-external-link" label="3DExperienCity"></p-button>
                        <p-button icon="pi pi-external-link" label="R&D"></p-button>
                        <p-button icon="pi pi-external-link" label="Proof Of Concept"></p-button>
                    </p-card>
                </div>
            </div>
        </p-panel>
        <p-panel header="Formation">

            <div class="p-grid">
                <div class="p-col-12 p-lg-4">
                    <p-card title="IT Engineering diploma, specialization in 3D real-time rendering" subtitle="ESIEA">
                        <p-header>
                            <img src="assets/esiea.png">
                        </p-header>
                    </p-card>
                </div>

            </div>



        </p-panel>
    </div>
</div>